header{
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .header-left{

        display: flex;
        align-items: center;
        gap: 1rem;
        
        img{
            width: 80px;
        }
        h1{
            font-size: 26px;
            text-transform: uppercase;
        }
       
    }

    .header-right{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            gap: 2rem;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                text-decoration: none;
                .header-link{
                    text-decoration: none;
                    font-size: 14px;
                    color: #1d1d1d;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    header{
      flex-direction: column;
      .header-left{
        flex-direction: column;
        gap: 0;
        img{
            width: 40px;
        }
        h1{
            font-size: 24px;
        }
      }
      .header-right{
        margin: auto;
        font-size: 14px;
      }
    }
  }