@import "./normalize.css";
@import "./variables/variables.scss";

// PAGES
@import "./../pages/home/home.scss";

// COMPONENTS
@import "./../components/header/header.scss";
@import "./../components/formEmployee/formEmployee.scss";
@import "./../components/input/input.scss";
@import "./../components/calendar/calendar.scss";
@import "./../components/dropdown/dropdown.scss";
@import "./../components/modale/modale.scss";
@import "./../components/lengthEmployees/lengthEmployees.scss";
@import "./../components/search/search.scss";
@import "./../components/table/table.scss";

body{
    min-height: 100vh;
    background-color: #f1f1f1;
    // background: linear-gradient(180deg, rgba(223,242,137,1) 0%, rgba(255,255,255,1) 100%);
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    box-sizing: border-box;
}