.formEmployee{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    fieldset{
        display: flex;
        flex-direction: column;
    }

    .error{
        color: rgb(162, 0, 0);
        margin-top: 10px;
        text-decoration: underline;
    }

    input{
        border-radius: 5px;
        border: none;
        &:focus{
            background-color: #faffe6;
        }
    }

    button{
        max-width: 200px;
        width: 100%;
        margin: auto;
        background-color: rgb(110 134 17);
        border: none;
        padding : 0.5rem 1rem;
        border-radius: 10px;
        margin-top: 20px;
        color: #f1f1f1;
        cursor: pointer;
    }
}

.formEmployee > div{
    margin: 0.5rem 0;
}